<div *ngIf="fieldControl?.invalid && (fieldControl?.dirty || fieldControl?.touched)"
  class="alert text-xs text-red-500">
  <div *ngIf="fieldControl?.errors?.required">
    *{{fieldName}} is required.
  </div>
  <div class="max-w-[200px]" *ngIf="hint && !fieldControl?.errors?.required">
    {{hint}}
  </div>
  <div *ngIf="!hint && fieldControl?.errors?.pattern">
    *Invalid {{fieldName}} format.
  </div>
  <div *ngIf="!hint && fieldControl?.errors?.minlength">
    *Min length should be {{fieldControl?.errors?.minlength.requiredLength}}.
  </div>

</div>
