<div class="px-8 md:px-24 flex flex-col justify-evenly gap-2 h-full pt-8">

  <div class="pt-0 md:pt-14">
    <h1 class="text-center text-2xl">Welcome Back!</h1>
    <h1 class="text-center text-gray-500">Please login to your account.</h1>
  </div>

  <form class="flex flex-col gap-6" [formGroup]="loginForm">

    <label class="block">
      <span>Email</span>

      <input class="underline-input" formControlName="email" type="email" name="email" id="email"
        aria-placeholder="email">

      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="alert text-xs text-red-500">
        <div *ngIf="email?.errors?.required">
          *Email is required.
        </div>
        <div *ngIf="email?.errors?.email">
          *Invalid email format.
        </div>
      </div>

    </label>

    <label class="block">
      <span>Password</span>
      <input class="underline-input" formControlName="password" type="password" name="password"
        aria-placeholder="password">
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="alert text-xs text-red-500">
        <div *ngIf="password?.errors?.required">
          *Password is required.
        </div>
      </div>
    </label>


    <div class="flex justify-between items-center">
      <label class="block">
        <input class="checkbox-input" type="checkbox" name="remember_me" id="remember_me">
        <span class="ml-2 text-sm">Remember Me</span>
      </label>
      <a class="cursor-pointer text-sm text-blue-500">Forgot password ?</a>
    </div>

    <button class="mt-4 w-full text-white rounded-full px-4 py-2 bg-[#61acb3]">Login</button>
    <p class="text-center text-sm text-gray-600">Don't have an account? <a class="text-blue-500"
        routerLink="/register">Sign Up</a>
    </p>
  </form>
  <p class="text-xs text-center">Terms of use. Private Policy</p>
  <p>{{email?.valid }}</p>
  <p>{{password?.valid}}</p>
</div>
