<div class="px-8 lg:px-24 flex flex-col justify-evenly gap-2 h-full pt-8">

  <div class="pt-0 md:pt-4">
    <h1 class="text-center text-2xl">Hi There!</h1>
    <h1 class="text-center text-gray-500">Please register your account.</h1>
  </div>
  <p class="text-red-400 font-bold text-center" *ngIf="errorMessage">{{errorMessage}}</p>

  <form class="flex flex-col gap-2" [formGroup]="registrationForm" (submit)="registerUser()">

    <label class="block">
      <span>Name</span>

      <input formControlName="name" class="underline-input" type="text" name="name" id="name">
      <app-input-error fieldName="Name" hint="only letters and space allowed" [fieldControl]="name"></app-input-error>
    </label>

    <label class="block">
      <span class="text-gray-400">Email</span>

      <input formControlName="email" class="underline-input" type="email" name="email" id="email"
        aria-placeholder="email">
      <app-input-error fieldName="Email" [fieldControl]="email"></app-input-error>
    </label>

    <label class="block">
      <span>Mobile</span>

      <input formControlName="mobile" class="underline-input" type="tel" name="mobile" id="mobile">
      <app-input-error fieldName="Mobile" [fieldControl]="mobile"></app-input-error>
    </label>

    <label class="block">
      <span>Password</span>

      <input formControlName="password" class="underline-input" type="password" name="password" id="password">
      <app-input-error hint="Minimum eight characters, at least one letter, one number and one special character:"
        fieldName="Password" [fieldControl]="password"></app-input-error>
    </label>

    <label class="block">
      <span>Confirm Password</span>

      <input formControlName="confirmPassword" class="underline-input" type="password" name="confirmPassword"
        id="confirmPassword">
      <p class="text-xs text-red-400" *ngIf="confirmPassword?.errors?.mismatch">
        *confirm password not matching with password
      </p>
      <app-input-error fieldName="Confirm Password" [fieldControl]="confirmPassword"></app-input-error>
    </label>


    <button type="submit" [disabled]="registrationForm.invalid"
      [ngClass]="{'cursor-not-allowed': loading}"
      class="flex items-center justify-center mt-4 w-full disabled:opacity-50 text-white rounded-full px-4 py-2 bg-[#61acb3]">
      <svg
        *ngIf="loading"
        class="animate-spin -ml-1 mr-3 h-6 w-6 text-blue-700" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
        </path>
      </svg>Register</button>
    <p class="text-center text-sm text-gray-600">Have an account? <a class="text-blue-500"
        routerLink="/login">Log In</a>
    </p>
  </form>
  <p class="text-xs text-center">Terms of use. Private Policy</p>
</div>
